$colors: (
  "primary": #5b1f00,
  "secondary": #9a5833,
  "third": #7c3b1a,
  "white": #fff
);

$paddings: (
  "modal": 1rem
);

$margins: (
  "modal": 1rem
);

$font-size: (
  "p": 1rem,
  "btn-figure": 2rem,
  "btn-end-game": 1rem
);

$line-height: (
  "p": 1.6,
  "btn": 1.2
);