@use "../tools/vars" as v;
@use "../tools/mixins" as mix;

.modal {
  min-width: 500px;
  background-color: map-get(v.$colors, "third");
  padding-top: 0;

  &__title {
    width: 100%;
    margin-bottom: map-get(v.$margins, "modal");
    text-align: center;
    color: map-get(v.$colors, "secondary");
    padding: map-get(v.$paddings, "modal");
    background-color: map-get(v.$colors , "primary");
  }

  &__btn-container {
    @include mix.flex(row, space-around, center);
    padding: map-get(v.$paddings, "modal");
    padding-top: 0;
  }

  &__btn {
    color: map-get(v.$colors, "primary");
    padding: 0;
    border: medium solid map-get(v.$colors, "primary");
    background-color: map-get(v.$colors, "secondary");
    cursor: pointer;
  }
}